[submodule "mirafra"]
	path = mirafra
	url = https://github.com/avinashanuku/mirafra.git
[submodule "functionpointers"]
	path = functionpointers
	url = https://github.com/avinashanuku/functionpointers.git
[submodule "LDD"]
	path = LDD
	url = https://github.com/avinashanuku/LDD.git
