.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.lesshst
.local/
.profile
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.wget-hsts
Downloads/
Mirafra_LDD_BATCH/
c/
snap/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.lesshst
.local/
.profile
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.wget-hsts
Downloads/
Mirafra_LDD_BATCH/
c/
snap/
